html {
	position: relative;
}

body {
	margin-bottom: 120px;
	margin-top: 30px;
	font-family: 'Georgia';
}

hr {
	width: 100px;
	border-top: 3px solid #999; 
}

section {
	min-height: 600px;
}

.contact {
	min-height: 800px;
}

footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 120px;
	background-color: #333;
	padding-top: 30px;
}

footer p {
	color: #aaa;
	font-size: 0.9em;
}

footer p {
	color: #aaa;
	font-size: 0.9em;
}

.jumbotron {
	background-image: url("https://3.bp.blogspot.com/-S25Fk2E4WM4/Vr11mhQxK6I/AAAAAAAAACw/YJRCHTNQ0KM/s1600/tecnology.jpg");
	color: white;
	height: 450px;
}

.background {
	background-color: #dcdcdc;
	height: 250px;
}

footer p i {
	color: salmon;
}




















